@charset "UTF-8";
/* CSS Document */

#header {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	text-align:center;
	color:#6F3;
	margin:0.938em;
	border-radius:15px;
}

ul {
	display:inline;
	list-style-type:none;
	margin:21.5%;
	padding:0;
}

a {
	color:#FF0;
	background-color:#00F;
}

a:hover, a:active {
	color:#000;
}

li {
	display:inline;
	color:#0F0;
}

body {
	background-image:url(../images/background.jpg);
	backgroud-repeat:repeat;
}

#article {
	color:#CF6;
	width:27%;
	border:3px solid #FFF;
	float:left;
	margin: 70px 35px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: #36F;
	border-radius: 30px;
	text-align:center;
}

#section {
	color: #3C6;
	width: 27%;
	border: 3px dotted #000;
	float: left;
	margin: 70px 35px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: #360;
	border-radius: 30px;
	text-align: center;
}

#aside {
	color: #30F;
	width: 15%;
	border: 3px groove #FF0;
	float: right;
	margin: 70px 35px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: #C39;
	border-radius: 30px;
	text-align: center;
}

h1 {
	color:#FF3;
}

h2 {
	color:#F90;

}

h3 {
	font-size:36px;
	color:#FF3;
	text-align:center;

}

table {
	border: 4px solid #FFF;
	background-color: #3F3;
	width: 50%;
	padding: 5px 20px 15px 10px;
	margin: 5px 20px 15px 10px;
}

td,th {
	border: 2px dotted black; 
	text-align:1px;

}

}




